.Card {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: red;
}

.Card .Header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Card .Header .Title{
    padding: 5px;
    flex: 1;
}

.Card .Content {
    padding: 20px;
}

.Card.red .Header {color: #fff;background-color: #00000080;}
.Card.red .Content {background-color: #f44336;}

.Card.green .Header {color: #fff;background-color: #00000080;}
.Card.green .Content {background-color: #39d917;}

.Card.blue .Header {color: #fff;background-color: #00000080;}
.Card.blue .Content {background-color: #3399cc;}

.Card.purple .Header {color: #fff;background-color: #00000080;}
.Card.purple .Content {background-color: #9c27b0;}